<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elad.themovie">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_the_movie"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.elad.themovie.TMDBApplication"
        android:theme="@style/AppTheme">
        <activity android:name="com.elad.themovie.ui.view.MoviesActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>